p {
    background-color: lavenderblush;
    padding: 10px;
    margin: 1%;
    width: 20%;
   display: inline-block;
}

P::first-letter {
    font-size: 180%;
    font-weight: bolder;
    color: red;
}