#kulso {
background-color: red;
width: 12cm;
height: 12cm;
}
#kozepso {
background-color: green;
width: 8cm;
height: 8cm;
left: 2cm;
top: 2cm;
}
#belso {
background-color: blue;
width: 4cm;
height: 4cm;
left: 4cm;
top: 4cm;
}

#kulso ,#kozepso, #belso {
    text-align: center;
    position: absolute;
}