ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px dotted red;
    text-align: center;
    list-style-type: none;
    
}

li {
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    display: inline;

}
